{% extends 'general-template.html'  %}
{% block content %}

<h1>{{ data.description }}</h1>

<table>
    <tr>
        <th>Classes</th>
        <th>Relations</th>
        <th>Image</th>
    </tr>
    <tr>
        {% for class in data.results.classes %}
        <td>
            <a href="/image_search?description={{ result.class[0] }}">{{ result.class[0] }}</a>
        </td>
        {% endfor %}
        {% for class in data.results.relations %}
        <td>
            <a href="/relation_search?Relation={{ result.relation[0] }}&Class1={{ result.relation[1] }}&Class2={{ result.relation[2] }}">{{ result.relation[0] }}{{ result.relation[1] }}{{ result.relation[3] }}</a>
        </td>
        {% endfor %}
        <td>
            <a href="https://storage.googleapis.com/bdcc_open_images_dataset/images/{{ result[0] }}.jpg">
                <img width="300" src="https://storage.googleapis.com/bdcc_open_images_dataset/images/{{ result[0] }}.jpg"/>
            </a>
        </td>
    </tr>
</table>


</table>

{% endblock %}

